@font-face
    font-family: 'Helvetica Neue Light Woff'
    src: url('../assets/fonts/helveticaneuecyr-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/helveticaneuecyr-light-webfont.woff') format('woff')
    font-weight: 300
    font-style: normal




@font-face
    font-family: 'Helvetica Neue Thin Woff'
    src: url('../assets/fonts/helveticaneuecyr-thin-webfont.woff2') format('woff2'),
         url('../assets/fonts/helveticaneuecyr-thin-webfont.woff') format('woff')
    font-weight: 100
    font-style: normal