@import 'transitions.styl'
@import 'fonts.styl'

*
  font-weight('light')
  margin: 0
  padding: 0
  outline: none
  border: 0
  box-sizing: border-box
  user-select: none

li
  list-style: none
  
label[for]
  cursor: pointer
  
input:focus::-webkit-input-placeholder
  color: transparent
input:focus::input-placeholder
  color: transparent

html
  min-height: 100%
  height: 100%
  overflow: hidden
  
body
  overflow-y: auto  
  min-height: 100%
  height: 100%
  absolute: top left right bottom
  padding: 0 $page-padding 0 $page-padding
  font-family-default()
  color: black
  
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  
input
  font-family-default()
  
svg
  pointer-events: none
  
.u-relative
  position: relative
  
.u-user-select
  user-select: auto
  
.u-iblock
  display: inline-block
  
.u-clear
  clear: both
  
.u-invisible
  opacity: 0
  pointer-events: none
  
.o-clickable
  cursor: pointer
  
.o-center
  text-align: center
  
.o-btn
  background: transparent
  cursor: pointer
  display: inline-block
  
@import 'cordova'